<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
<%= simple_form_for(current_user, as: :user, url: registration_path(current_user), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, required: true, autofocus: true %>
    <%= f.input :last_name, required: true, autofocus: true %>
    <%= f.input :bio,  autofocus: true %>
    <%= f.input :facebook, placeholder: 'Enter your profile link.', autofocus: true %>
    <%= f.input :twitter, placeholder: 'Enter your profile link.', autofocus: true %>
    <%= f.input :linkedin, placeholder: 'Enter your profile link.', autofocus: true %>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, autocomplete: "off", hint: "Leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update"  %>
  </div>
<% end %>

    <div class="gravatar_edit">

      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>
