<div class="container-profile-card">
  <div class="user-card">
    <% if @user.facebook_picture_url != nil %>
    <%= image_tag @user.facebook_picture_url, class: "avatar-profile" %>
    <% end %>
    <div><h5 class="profile-name pink-text"><%= @user.first_name %></h5></div>
  </div>
</div>

<div class="row">
  <div class="col s6">
    <div class="container">
      <h4 class="profile-element">My favourites:</h4>
      <% @favourites.each do |favourite|%>
      <div class="card-favo">
        <div class="container-favo">
          <p class="profile-name pink-text"><%= link_to favourite.workplace.name, favourite.workplace %></p>
          <p><%= link_to "Remove from my favorites", favourite_path(favourite.id), method: :delete %></p>
          <p class="text-16px">Reviews:</p>
          <% favourite.workplace.reviews.each do |review| %>
          <ul class="list-unstyled">
            <li>Rating: <%= review.rating %> stars</li>
            <li>Content: <%= review.content %></li>
          </ul>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
