<%= link_to((workplace), class: 'card-link') do %>
<div class="card work" id="card_<%= workplace.id %>" style="background-image: linear-gradient(to bottom, rgba(109,108,100,0.7) 0%,rgba(137,132,130,0.7) 18%,rgba(184,172,181,0.7) 48%,rgba(226,208,226,0.39) 75%,rgba(252,194,69,0.1) 100%), url(<%= cl_image_path workplace.photo.url unless workplace.photo.url.nil? %>); background-size: cover; background-repeat: no-repeat;">
  <div class="card-content">
    <div class="card-graphics">
      <h3 class="card-title"><%= workplace.name %></h3>
      <hr>
      <p class="card-text"><%= workplace.address %></p>
      <p class="card-distance">
        <strong><span class="dist"></span>
         meters away </strong> from your position.
      </p>
    </div>
    <div class="card-features-container">

      <% workplace.features.each do |feature| %>
      <div class="feature-desc">
        <%= image_tag(feature.icon) %>
      </div>
        <% end %>
    </div>
  </div>
</div>
<% end %>
