<div class="card" id="card_<%= workplace.id %>" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url(<%= asset_path workplace.photo %>); background-size: cover; background-repeat: no-repeat;">

  <div class="card-content">
    <div class="card-graphics">
      <h3 class="card-title"><%= workplace.name %></h3>
      <p class="card-text"><%= workplace.address %></p>
    </div>
    <div class="card-features-container">

      <% workplace.features.each do |feature| %>
      <div class="feature-desc">
        <%= image_tag(feature.icon) %> <p><%= feature.name %></p>
      </div>
        <% end %>
    </div>
    <%= link_to "More Informations", workplace, class: "btn btn-primary btn-more-info" %>
  </div>

</div>
