<!-- Home page screen -->
<section class="home-page">
  <div class="home-banner">
    <div class="home-logo">
      <%= image_tag "wasis_home.png" %>
      <h2>Your next office is down the street</h2>
      <p>Finding new workplaces made easy for you! Precise filters answering your<br/> working need to be as productive as possible while discovering new places</p>
    </div>


    <div class="home-category">
      <ul>
        <li><h3>Coworking Space</h3><%= image_tag "type_coworking.png" %></li>
        <li><h3>Coffee</h3><%= image_tag "type_coffee.png" %></li>
        <li><h3>Library</h3><%= image_tag "type_library.png" %></li>
        <li><h3>Park</h3><%= image_tag "type_park.png" %></li>
        <li><h3>Others</h3><%= image_tag "type_others.png" %></li>
      </ul>
    </div>
  </div>
  <div class="home-map" style="background-image: linear-gradient(135deg, rgba(249,193,67,0.2) 0%,rgba(250,79,131,0.2) 33%,rgba(74,255,245,0.2) 100%), url('<%= image_path 'map_home.png' %>');">
    <div>
      <%= link_to "FIND", workplaces_path, class: "button-banner" %>
    </div>


  </div>
  <div class="home-city">
    <p> Montreal - San Francisco - Paris - Boston - Toronto - Berlin - Milan - Barcelone - Stocklom </p>
  </div>
</section>

<!--  Second section screen -->

  <div class="home-text-section">
    <div class="home-how">
      <div class="how-description">
      <h3><strong>FIND</strong></h3>
      <p>Find workplaces around you with selected filters responding to your needs</p>
      </div>
      <div class="how-description">
      <h3><strong>ENJOY</strong></h3>
      <p>Enjoy workplaces you discovered near you</p>
      </div>
      <div class="how-description">
      <h3><strong>REVIEW</strong></h3>
      <p>Review workplaces you've just been, making it authentic to the work environment</p>
      </div>
    </div>
  </div>
</section>

<%= content_for(:after_js) do %>
<script>
  $(function () {


    // hide .navbar first
    $(".navbar-wagon-brand").hide();

    // fade in .navbar
    $(function () {
      $(window).scroll(function () {
              // set distance user needs to scroll before we fadeIn navbar
        if ($(this).scrollTop() > 216) {
          $('.navbar-wagon-brand').fadeIn();
        } else {
          $('.navbar-wagon-brand').fadeOut();
        }
      });


    });

  });
  </script>
<% end %>


