<!-- <p>Find me in app/views/pages/home.html.erb</p> -->
<div id="home-page">

  <!-- Landing homepage -->

  <div class="tag-line">
    <div class="home-logo">
    <%= image_tag "logo.png" %></div>
    <h2>Your favorites workplaces in town</h2>
    <p>Another placeholder text to say how amazing this app is and what<br/> it really help you to do today. It need to be in two line! thnks dawg</p>
    <div class="category-banner">
      <h3>Coworking Space<%= image_tag "type_coworking.png" %></h3>
      <h3>Coffee<%= image_tag "type_coffee.png" %></h3>
      <h3>Library<%= image_tag "type_library.png" %></h3>
      <h3>Park<%= image_tag "type_park.png" %></h3>
      <h3>Others<%= image_tag "type_others.png" %></h3>
    </div>
  </div>
  <div class="home-map" style="background-image:url('<%= image_path 'map_home.png' %>');">
   <div class="button-banner">
    <%= link_to "FIND", workplaces_path %>
  </div>
</div>
<div class="home-city"><p>Montreal - San Francisco - Paris - Boston - Toronto - Berlin - Milan - Barcelone - Stocklom</p></div>

<!--  explanation -->

<div class="howitwork" style="background-image:url('<%= image_path 'join_community_photo.png' %>');">
 <h2>We need space to be productive, we need places to go to be free.</h2>
</div>
<div class=button-transition>
<div class="button-howitwork">
    <%= link_to "JOIN", workplaces_path %>
  </div>
</div>

<!-- box to insist user to add places -->

<div class="add-places">
  <div class="box-placeholder"></div>
  <div class="box-placeholder"></div>
  <div class="box-placeholder"></div>
</div>

<div class="add-places-2">
  <p class="add-places-p">ADD YOUR FAVOURITE PLACE AND BLAH BLAH BLAH</p>
  <div class="button-howitwork">
    <%= link_to "START", workplaces_path %>
  </div>
</div>
<!--  Join comminuty -->

<!-- Start uploading -->

<div class="start">
  <%= video_tag "coffeelive.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
  <div>
    <h2>Help the community by adding workplaces around you!</h2>
  </div>
</div>


</div>


