<!-- <p>Find me in app/views/pages/home.html.erb</p> -->
<div id="home-page">
  <!-- Landing hiomepage -->
  <div class="tag-line">
    <div class="home-logo">
    <%= image_tag "logo.png" %></div>
    <h3>Your favorites workplaces in town</h3>
    <p>Another placeholder text to say how amazing this app is and what<br/> it really help you to do today. It need to be in two line! thnks dawg</p>
    <div class="category-banner">
      <p>Coworking Space<%= image_tag "type_coworking.png" %></p>
      <p>Coffee<%= image_tag "type_coffee.png" %></p>
      <p>Library<%= image_tag "type_library.png" %></p>
      <p>Park<%= image_tag "type_park.png" %></p>
      <p>Others<%= image_tag "type_others.png" %></p>
    </div>
  </div>
  <div class="home-map" style="background-image:url('<%= image_path 'map_home.png' %>');">
   <div class="button-banner">
    <%= link_to "FIND", workplaces_path %>
  </div>
</div>
<div class="home-city"><p>Montreal - San Francisco - Paris - Boston - Toronto - Berlin - Milan - Barcelone - Stocklom</p></div>
<!--  How it work -->
<div class="howitwork">
 <h4>There will be 3 card/explanation of how it work, ex: step 1, find a place near you 2, select filter to fulfill in the best way possible your work requirement in open workplace 3, log in/checkin to have access to blah blah blah</h4>
</div>
<!--  Join comminuty -->
<div class="join" style="background-image:url('<%= image_path 'join_community_photo.png' %>');">
  <p>Come and join multiple nomad workers like you to find the best environment that will suit your need to work and join worker related to your domain</p>
  <div class="button-join">
    <%= link_to "JOIN", workplaces_path %>
  </div>
</div>
<div class=blue-transition></div>
<!-- Start uploading -->
<div class="start">
  <%= video_tag "coffeelive.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
  <div>
    <p>Help the community by adding workplaces around you!</p>
  </div>
  <div class="button-start">
    <%= link_to "START", workplaces_path %>
  </div>

</div>


</div>


