<div class="container workplace-form">
  <h3>Add a new workplace to Wasis</h3>
  <%= simple_form_for @workplace do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, placeholder: 'Enter a name' %>

  <%= f.input :address, placeholder: 'Address' %>

  <%= f.input :features, as: :check_boxes,
  collection: ["Wifi", "Hot drinks", "Cold drinks", "Large tables", "Snacks", "Meals", "Electric outlets", "Private rooms", "Hourly rate"] %>

  <%= f.input :category, as: :radio_buttons,
  collection: ["0", "1", "2"] %>

  <%= f.input :photo %>

  <%= f.input :photo_cache, as: :hidden %>

  <!-- COMMENT FAIRE UN CALLBACK A GOOGLE PLACES POUR OBTENIR LE GOOGLE ID DE L'ADDRESSE ENTREE ? -->

  <%= f.button :submit %>
  <% end %>
</div>
