<div class="container workplace-show">
  <div class="container main">
    <h3><%= @workplace.name %></h3>
    <% if @spot.opening_hours["open_now"] %>
    <div class="btn btn-success">OPEN NOW</div>
    <% else %>
    <div class="btn btn-danger">CLOSED NOW</div>
    <% end %>
  </div>

  <div class="container details">
    <p><%= @workplace.address %></p>
    <p>Features:</p>
    <ul class="list-unstyled"><% @workplace.features.each do |feature| %>
      <li><%= image_tag(feature.icon) %> <%= feature.name %></li>
    <% end %>
    </ul>

    <div><%= image_tag(@workplace.photo) %></div>

    <div class="btn-workplace">
      <%= link_to "Back to workplaces", workplaces_path, class: "waves-effect waves-light btn" %>
    </div>
  </div>

  <div id="checkin" class="btn btn-primary">
    <%= render 'visits/checkin', visit: @visit, workplace: @workplace %>
</div>
