<div class="wrapper workplace-page">
  <div class="container ">
    <div class="row workplace-nav">
      <!--    Bande de navigation  -->
      <div>
        <%= link_to workplaces_path, class: "btn btn-workplace" do %>
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        <h4>Back to the map</h4>
        <% end %>
      </div>
      <!--    People already cheked in  -->
      <div id="present" class="checked-in">
         <%= render 'visits/present', visit: @visit, workplace: @workplace %>
         <p><%# visit.status unless visit.status.nil? %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9 workplace-info">
        <!--    Photo workplace   -->
        <div class ="workplace-photo">
          <% if @workplace.photo.url.nil? %>
            <%= image_tag 'http://via.placeholder.com/550x350' %>
            <% else %>
          <%= cl_image_tag @workplace.photo.url %>
          <% end %>
        </div>
      <!--    Details infos  -->
        <h3><%= @workplace.name %></h3>
        <h5><%= @workplace.address %></h5>

        <div class="features">
          <h3>Features</h3>
          <ul class="list-unstyled"><% @workplace.features.each do |feature| %>
            <li>
              <div><%= image_tag(feature.icon) %></div>
              <div><%= feature.name %></div>
            </li>
            <% end %>
          </ul>
        </div>
        <!--    Ratings  -->
        <div class="ratings">
          <h3>Ratings</h3>
        </div>
        <!--    Reviews -->
        <div class="reviews">
          <% if @workplace.reviews.nil? %>
            <p>This place doesn't have any review yet. <br/>
              Be the first one to add one :)
            </p>
            <%= link_to "Add a review", new_workplace_review_path %>
            <% else %>
            <h3>Reviews:</h3>
            <% @workplace.reviews.each do |review| %>
              <% @user = User.find(review.user_id) %>
              <div>Review by <strong><%= @user.first_name %> <%= @user.last_name %></strong>
              </%></div>
              <div class="review-comment">
                <p><u>Comment:</u> <%= review.comment %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>


      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 action-workplace" id="workplaceshow" >
        <div class="action-user">
          <div class="action-header">
            <% if @workplace.google_id.nil? || @spot.opening_hours.nil? %>
              <div class="workplace-hours">
                <%= image_tag('unknow.svg', alt: 'Unknown hours') %>
                <p>Opening hours are not available for this place.</p>
              </div>
              <% elsif @spot.opening_hours["open_now"] %>
                <div class="workplace-hours">
                <%= image_tag('open.svg', alt: 'Open now') %>
                <p>OPEN NOW</p>
                </div>
              </div>
            <% else %>
              <div class="workplace-hours">
                  <%= image_tag('closed.svg', alt: 'Open now') %>
                <p>CLOSED NOW</p>
              </div>
            <% end %>
          </div>
          <div>
            <% unless @global_rating.nil? %>
            <p class="ratings-stars"><%= render_stars(@global_rating) %></p>
            <% end %>
          </div>
          <div>
            Add to Favorites
          </div>
          <div>
            Share with friends
          </div>
          <div>
            <% if @checkedin_visit == false || @visit.workplace == @workplace %>
              <div id="checkin">
                <%= render 'visits/checkin', visit: @visit, workplace: @workplace %>
              </div>
            <% end %>
          </div>
      </div>
     </div>
  </div>
 </div>
  </div>
<div id="map" class = "row" style="width: 100%; height: 400px;"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTiqJOTZ0WFaiV-EP7hsFFi2cBhYnfP8A"></script>


<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var handler = Gmaps.build('Google');
handler.buildMap({ provider: { draggable: false, zoomControl: false, scrollwheel: false, disableDoubleClickZoom: true }, internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(16);
}
});

});

<% end %>
<% end %>
