<div class="workplace-photo" style="background-image: url('<%= image_path @workplace.photo.url %>')";></div>
<div class="workplace-page">
  <div class="container ">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9 workplace-info">

        <!--    Bande de navigation  -->
        <div class="workplace-nav">
          <%= link_to workplaces_path, class: "btn btn-workplace" do %>
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <h4>Back to the map</h4>
          <% end %>
        </div>

        <!--    Details infos  -->
        <h2> <%= @workplace.name %> </h2>
        <div class="show-wp-info">
          <div>
            <% category = @workplace.category %>
            <%= image_tag "icone_#{category}.svg" %>
          </div>
          <div>
            <p>
              <% case category %>
              <% when 0 %>
              <%= 'COWORKING-SPACE'  %>
              <% when 1 %>
              <%= 'LIBRARY'  %>
              <% when 2 %>
              <%= 'COFFEE'  %>
              <% when 3 %>
              <%= 'PARK'  %>
              <% when 4 %>
              <%= 'OTHERS'  %>
              <% end %>
            </p>
            <p class="ratings-stars"><%= render_stars(@global_rating) %> <%= pluralize @workplace.reviews.size, 'review' %> </p>
            <h5> <%= @workplace.address %> </h5>
          </div>
        </div>


        <hr>

        <div class="features wp-section">
          <h4>Features</h4>
          <ul class="list-unstyled"><% @workplace.features.each do |feature| %>
            <li>
              <div><%= image_tag(feature.icon) %></div>
              <div><%= feature.name %></div>
            </li>
            <% end %>
          </ul>
        </div>
        <hr>

        <!--    Features Rating  -->
        <div class="ratings wp-section">
          <h4>Ratings</h4>
          <table>
            <tr>
              <td> Wifi: </td>
              <td><%= render_stars(average_feature_rating :wifi) %> </td>
            </tr>
            <tr>
              <td> noise: </td>
              <td> <%= render_stars(average_feature_rating :noise) %></td>
            </tr>
            <tr>
              <td> Comfort: </td>
              <td><%= render_stars(average_feature_rating :comfort) %> </td>
            </tr>
            <tr>
              <td> Service: </td>
              <td> <%= render_stars(average_feature_rating :service) %> </td>
            </tr>
          </table>
        </div>
        <hr>
        <!--    Status of checked-in users  -->

        <div id="status-checkedin wp-section">
          <h4>Check-in Status</h4>
          <div id="present" class="checked-in">
            <%= render 'visits/present', visit: @visit, workplace: @workplace %>
            <p><%# visit.status unless visit.status.nil? %></p>
          </div>
          <%= render 'users/user-status-checkedin', visit: @visit, workplace: @workplace %>
          <p><%# visit.status unless visit.status.nil? %></p>
        </div>
        <hr>


        <!--    Reviews -->
        <div class="reviews wp-section">
          <h4>Reviews</h4>
          <p>  <%= pluralize @workplace.reviews.size, 'review' %></p>
          <% if @global_rating.nil? %>
          <p>This place doesn't have any review yet. <br/>
            Be the first one to add one :)
          </p>
          <%= link_to "Add a review", new_workplace_review_path(@workplace) %>
          <% else %>
          <% @workplace.reviews.each do |review| %>
          <% @user = User.find(review.user_id) %>
          <div class="review-card">
            <div>
              <div class="review-autor">
                <div>
                  <% avatar_url = @user.facebook_picture_url || "http://placehold.it/30x30" %>
                  <%= image_tag avatar_url, class: "avatar-bordered40" %>
                </div>
                <div>
                  <div><strong><%= @user.first_name %> <%= @user.last_name %></strong>
                  </div>
                  <div> <%= review.created_at %> </div>
                </div>
              </div>
              <div> <%= render_stars(review.ratings.first.average) %></div>
            </div>
            <div>
             <p><u>Comment: </u> <%= review.comment %></p>
           </div>
         </div>
         <hr>

         <% end %>
         <% end %>
       </div>
     </div>


     <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 " id="action-bar" >
      <div class="action-workplace">
        <div class="action-header">
          <% if @workplace.google_id.nil? || @spot.opening_hours.nil? %>
          <div class="workplace-hours">
            <%= image_tag('unknow.svg', alt: 'Unknown hours') %>
            <p>Opening hours are not available for this place.</p>
          </div>
          <% elsif @spot.opening_hours["open_now"] %>
          <div class="workplace-hours">
            <%= image_tag('open.svg', alt: 'Open now') %>
            <p>Open Now</p>
          </div>

          <% else %>
          <div class="workplace-hours">
            <%= image_tag('closed.svg', alt: 'Open now') %>
            <p>CLOSED NOW</p>
          </div>
          <% end %>
        </div>

        <div class="action-body">
         <span id="favourites">
           <% if @favourite.nil?  %>
           <% @favourite = Favourite.new %>
           <%= render 'favourites/favourite', favourite: @favourite , workplace: @workplace%>
           <% else %>
           <%= render 'favourites/unfavourite', favourite: @favourite %>
           <% end %>
         </span>
         <!-- <i class="fa fa-share-alt" aria-hidden="true"></i> -->
         <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
         <!-- <i class="fa fa-mobile" aria-hidden="true"></i>  -->
       </div>
       <div class="action-footer">
        <% if @checkedin_visit == false || !@visitrender.nil? && @visitrender_stars.workplace == @workplace  %>
        <div id="checkin">
          <%= render 'visits/checkin', visit: @visit, workplace: @workplace %>
        </div>
        <% end %>
      </div>
    </div>
    <!--    People already cheked in  -->

  </div>
</div>
</div>

</div>
</div>

<div id="map" style="width: 100%; height: 400px;"></div>

<div id="wrapper-modal-status">
  <%= render 'shared/modal_status', locals: { workplace: @workplace,status: @status } %>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTiqJOTZ0WFaiV-EP7hsFFi2cBhYnfP8A"></script>


<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var handler = Gmaps.build('Google');
handler.buildMap({ provider: { draggable: false, zoomControl: false, scrollwheel: false, disableDoubleClickZoom: true }, internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(16);
}
});

});

<% end %>
<% end %>
