<div class="container-fluide workplace-show">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 info-workplace">
      <%= link_to "Back to workplaces", workplaces_path, class: "waves-effect waves-light btn" %>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 info-workplace">
      <div class="open-close">
        <% if @spot.opening_hours.nil? %>
        <div>Opening hours are not available for this place.</div>
        <% elsif @spot.opening_hours["open_now"] %>
        <div>OPEN NOW</div>
        <% else %>
        <div>CLOSED NOW</div>
        <% end %>
      </div>
      <h3><%= @workplace.name %></h3>
      <h5><%= @workplace.address %></h5>
      <div class="features">
        <ul class="list-unstyled"><% @workplace.features.each do |feature| %>
          <li><%= image_tag(feature.icon) %> <%= feature.name %></li>
        <% end %>
        </ul>
      </div>
      <div class="reviews">
        <% if @workplace.reviews.nil? %>
        <p>This place doesn't have any review yet. <br/>
          Be the first one to add one :)
        </p>
        <% else %>
        <div>
          <%= @workplace.reviews %>
        </div>
        <% end %>
     </div>

      <% if @checkedin_visit == false || @visit.workplace == @workplace %>
        <div id="checkin">
            <%= render 'visits/checkin', visit: @visit, workplace: @workplace %>
        </div>
      <% end %>

    <div><%= image_tag(@workplace.photo) %></div>
    </div>

  </div>
</div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>
