<h3>Add a new review </h3>

<%= simple_form_for [@workplace, @review] do |f| %>
  <%= f.input :comment, maxlength: 480, size: 60 %>
  <%= f.error_notification %>
    <%= f.simple_fields_for :rating do |r| %>
      <%= r.input :wifi, collection: 1..5 %>
      <%= r.input :noise, collection: 1..5 %>
      <%= r.input :comfort, collection: 1..5 %>
      <%= r.input :service, collection: 1..5 %>
    <% end %>

    <div class="">
      <%= f.submit "Add a review", class: "btn btn-primary" %>
        <%= link_to "Checkout without a review",[@workplace, @visit], class: "btn btn-danger" , :method => :put, remote: true %>

    </div>
<% end %>




